<center>
  <h1 class="title"><%= user.get('username') %></h1>
</center>

<div class="left-palettes">
  <h3 class="lesser-title">Palettes:</h3>
</div>

<div class="right-palettes">
<h3 class='lesser-title'>Favorite Palettes:</h3>
</div>