<center><h1 class="lesser-title"><%= palette.get('name') %></h1>
by <%= palette.get('creator').username %>

<div class="detail-palette">
  <% palette.colors().forEach(function(color){ %>
    <div class="index-palette-swatch" 
      style="background-color: <%= color %>; 
      width: <%= palette.divPercentWidth() %>%">
    </div>
  <% }) %>
</div>

<% if (palette.idOfFavoriters().indexOf(currentUserID) === -1) { %>
  <div class="favorite">
<% } else { %>
  <div class="unfavorite">
<% } %>
  <button class="favorite-button">&#9733 Favorite</button>
  <button class="unfavorite-button">&#9734 Unfavorite</button>
</div>
<br>
<button class="create-button create-wallpapers">Create Wallpapers</button>
</center>