<h1><%= palette.get('name') %></h1>

<div class="detail-palette">
  <% palette.colors().forEach(function(color){ %>
    <div class="index-palette-swatch" 
      style="background-color: <%= color %>; 
      width: <%= palette.divPercentWidth() %>%">
    </div>
  <% }) %>
</div>

<% if (palette.idOfFavoriters().indexOf(currentUserID) === -1) { %>
  <div class="favorite">
<% } else { %>
  <div class="unfavorite">
<% } %>
  <button class="favorite-button">Favorite</button>
  <button class="unfavorite-button">Unfavorite</button>
</div>