<a href="#/new">Make a new palette!</a>
Palettes:

<ul>
  <% palettes.forEach(function(palette) { %>
    <li>
      <%= palette.get('name') %>
      <div class="index-palette">
        <% palette.colors().forEach(function(color){ %>
          <div class="index-palette-swatch" style="background-color: <%= color %>; width: <%= palette.divPercentWidth() %>%"></div>
        <% }) %>
      </div>
    </li>
  <% }); %>
</ul>