<a href="#/new">Make a new palette!</a>
Palettes:

<ul>
  <% palettes.forEach(function(palette) { %>
    <li>
    <a href="#/<%= palette.get('id')%>">
      <%= palette.get('name') %>
      <div class="index-palette">
        <% palette.colors().forEach(function(color){ %>
          <div class="index-palette-swatch" 
            style="background-color: <%= color %>; 
            width: <%= palette.divPercentWidth() %>%">
          </div>
        <% }) %>
      </div>
      </a>
      
      <% if (palette.idOfFavoriters().indexOf(currentUserID) === -1) { %>
        <div class="favorite">
      <% } else { %>
        <div class="unfavorite">
      <% } %>
        <button class="favorite-button">Favorite</button>
        <button class="unfavorite-button">Unfavorite</button>
      </div>
    </li>
  <% }); %>
</ul>