<center>
  <label for="palette_name" class="lesser-title">Palette Name:</label>
  <input type="text" id = "palette_name" placeholder="Palette Name">
</center>
<br>

<div id="swatch-notifier">
</div>

<div id="future-palette">
  <div class="future-color active-swatch no-color" data-color-id="1" data-color=""></div>
  <div class="future-color no-color" data-color-id="2" data-color=""></div>
  <div class="future-color no-color" data-color-id="3" data-color=""></div>
  <div class="future-color no-color" data-color-id="4" data-color=""></div>
  <div class="future-color no-color" data-color-id="5" data-color=""></div>
</div>

<p><a id="color-picker"></a></p>

<button id="create-palette">Create Palette</button>