<center>
  <label for="palette_name" class="lesser-title">Palette Name:</label>
  <input type="text" id = "palette_name" placeholder="Palette Name">
</center>
<br>

<div id="swatch-notifier">
  <div class="notifier active-notifier" notifier-id="1"></div>
  <div class="notifier" notifier-id="2"></div>
  <div class="notifier" notifier-id="3"></div>
  <div class="notifier" notifier-id="4"></div>
  <div class="notifier" notifier-id="5"></div>
</div>

<div id="future-palette">
  <div class="future-color active-swatch no-color" data-color-id="1" data-color=""></div>
  <div class="future-color no-color" data-color-id="2" data-color=""></div>
  <div class="future-color no-color" data-color-id="3" data-color=""></div>
  <div class="future-color no-color" data-color-id="4" data-color=""></div>
  <div class="future-color no-color" data-color-id="5" data-color=""></div>
</div>

<p><a id="color-picker"></a></p>
<br>

<center>
<button id="create-palette" class="create-button">Create Palette</button>
</center>

<div id="no-name-or-color" class="modal">
  You must include a palette name and at least one color.
</div>