// Place all the styles related to the Palettes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$palette-width: 80%;

.active-notifier {
  background-color: #b8b8b8;
}

// .create-button is in root.css.scss

.detail-palette {
  height: 10em;
  width: 90%;
  margin: 0 auto;
}

.future-color {
  background-color: #ecf0f1;
  width: 20%;
  height: 100%;
  float: left;
}

#future-palette {
  width: $palette-width;
  height: 7em;
  margin: 0 auto;
}

.index-palette {
  height: 5em;
  width: 20em;
}

.index-palette-swatch {
  float: left;
  height: 100%;
}

.no-color:after {
  content: "(no color)";
  color: #5c5c5c;
}

.notifier {
  float: left;
  height: 100%;
  width: 20%;
  border-radius: 1em;
  transition: 0.3s 0s all ease;
}

#swatch-notifier {
  height: 0.5em;
  width: $palette-width;
  margin: 0 auto 0.5em auto;
}