// Place all the styles related to the Palettes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$palette-width: 80%;

.active-notifier {
  background-color: #b8b8b8;
}

.clear-color {
  float: right;
  background-color: #545454;
  height: 1.5em;
  width: 1.5em;
  margin: 0.1em 0.1em 0 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  
  text-align: center;
  padding-top: 0.2em;
  opacity: 0.3;
  border-radius: 50%;
  
  &:hover {
   opacity: 1; 
  }
}
// .create-button is in root.css.scss

.detail-palette {
  height: 10em;
  width: 90%;
  margin: 3em auto;
}

.future-color {
  background-color: #ecf0f1;
  width: 20%;
  height: 100%;
  float: left;
}

#future-palette {
  width: $palette-width;
  height: 7em;
  margin: 0 auto;
}

.index-palette {
  height: 5em;
  width: 100%;
  margin: 0.5em 0;
}

.index-palette-swatch {
  float: left;
  height: 100%;
}

.left-palettes {
  float: left;
  width: 50%;
}

.no-color {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px dashed #d6d6d6;
}

.no-color:after {
  content: "(no color)";
  color: #5c5c5c;
}

.notifier {
  float: left;
  height: 100%;
  width: 20%;
  border-radius: 1em;
  transition: 0.3s 0s all ease;
}

.palette-in-group {
  width: 75%;
  margin: 0 5em 1em 6em;
}

.right-palettes {
  float: right;
  width: 50%;
}

#swatch-notifier {
  height: 0.5em;
  width: $palette-width;
  margin: 0 auto 0.5em auto;
}