// Place all the styles related to the Root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// This is for Google's Grand Hotel font
@import url(http://fonts.googleapis.com/css?family=Grand+Hotel|Raleway);

$bg-color: #373737;
$navbar-gradient: to bottom, #4b4b4b, #000000;

@mixin boring-links {
  a {
    text-decoration: none;
    color: white;
  }
}

//@mixin clearfix {
//  &:after {
//    content: "";
//    display: table;
//    clear: both;
//  }
//}

@mixin active-tab {
  background-color: #373737;
}

@mixin ensure-border-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@mixin grand-hotel-font($size: 2em) {
  font-family: 'Grand Hotel', cursive;
  font-size: $size;
  color: white;
}

@mixin nav-item{
  height: 100%;
  display: inline-block;
  text-align: center;
}

@mixin normal-font {
  font-family: "Raleway", sans-serif;
  color: white;
}

.active-tab {
  @include active-tab;
}

body {
  background-color: $bg-color;
  @include normal-font;
  @include boring-links;
}

#content, .notice, .alert {
  @include normal-font;
  @include boring-links;
  margin-top: 4.5em;
}

header {
  @include boring-links;
  
  background: linear-gradient($navbar-gradient);
  width: 100%;
  height: 4em;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 9999999;
}

.nav-item {
  @include grand-hotel-font(1.5em);
  @include nav-item;
  padding: 0.6em 0.55em 0 0.5em;
  float:right;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  
  &.last-nav-item {
    padding-right: 1em;
  }
  
  transition: 0.5s 0s all ease;
  &:hover {
    @include active-tab
  };
}

#nav-logo {
 @include grand-hotel-font;
 @include nav-item;
 @include ensure-border-box;
 
 float: left;
 width: 6em;
 padding-top: 0.35em;
}

.title {
  @include grand-hotel-font(3em);
}